include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include native_code/osx *.c *.h *.m
recursive-include src *.pyi py.typed

exclude AGENTS.md
exclude .gitignore
prune .venv
prune .github
prune .claude
prune .vscode
prune tests
prune build
prune dist
